<%- include("partials/head") %>

    <body>

        <%- include("partials/nav") %>

        <div class="container">
            <div><h3>This website is for the people who are very creative and want to put some new idea to the world</h3></div>
        </div>
        <!-- <h1>THE HOME PAGE <%= 3+4%></h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
    </body>
</html>